:root {
  --primary: #eb2f64;
  --primary-light: #ff3366;
  --primary-dark: #ba265d;
  --grey-light-1: #faf9f9;
  --grey-light-2: #f4f2f2;
  --grey-light-3: #f0eeee;
  --grey-light-4: #ccc;
  --grey-light-5: rgb(228, 226, 226);
  --grey-dark-1: #333;
  --grey-dark-2: #777;
  --grey-dark-3: #999;
  --dark-shadow: 0 0.5rem 2rem var(--grey-dark-3); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  min-height: 100vh;
  width: 100%;
  background: radial-gradient(var(--primary-light) 0%, var(--primary) 70%, var(--primary-dark) 100%) no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'OpenSans', sans-serif; }

a {
  text-decoration: none; }

ul {
  list-style-type: none; }

.logo {
  height: 2.5rem;
  margin-left: 1rem; }

.icon {
  height: 1.25rem;
  width: 1.25rem; }
  .icon--img {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    margin-right: 0.5rem; }
  .icon--img + span {
    font-size: 0.8rem; }

.search {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .search__input {
    background-color: var(--grey-light-2);
    color: var(--grey-dark-2);
    font-family: inherit;
    border-radius: 100px;
    height: 2.5rem;
    width: 90%;
    padding: 1rem;
    border: none;
    margin-right: -2.5rem;
    transition: all 0.5s; }
    .search__input::-webkit-input-placeholder {
      color: var(--grey-dark-2); }
    .search__input:focus {
      outline: none;
      width: 100%; }
  .search__input:focus + .search__icon__link > svg {
    fill: var(--grey-dark-1); }
  .search__icon__link {
    background: transparent;
    border: none; }
  .search__iconbox {
    fill: var(--grey-dark-2); }

.user-info {
  align-self: stretch;
  display: flex; }
  .user-info__box {
    display: flex;
    align-items: center;
    padding: 0 1rem;
    position: relative; }
    .user-info__box:hover {
      background: var(--grey-light-5);
      cursor: pointer; }
    .user-info__box--flag {
      background-color: var(--primary);
      font-size: 0.75rem;
      color: var(--grey-light-1);
      padding: 0.2rem 0.4rem;
      border-radius: 50%;
      position: absolute;
      top: 0.7rem;
      right: 0.3rem; }

.menu__item {
  width: 100%;
  height: 100%;
  position: relative; }
  .menu__item:not(:last-child) {
    margin-bottom: 0.5rem; }
  .menu__item::before {
    content: "";
    height: 100%;
    width: 3px;
    background-color: var(--primary);
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleY(0);
    transition: transform 0.5s, width 0.5s 0.55s; }
  .menu__item:hover::before {
    width: 100%;
    transform: scaleY(1); }
  .menu__item__link {
    color: currentColor;
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 10;
    display: inline-block;
    width: 100%; }
    .menu__item__link > svg {
      fill: currentColor;
      height: 1.25rem;
      width: 1.5rem;
      margin-right: 0.5rem; }
    .menu__item__link:active {
      background-color: var(--primary-light); }

.container {
  background-color: var(--grey-light-1);
  width: 70%;
  min-height: 50rem;
  margin: 5rem 0;
  box-shadow: var(--dark-shadow); }

.header {
  height: 4.5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--grey-light-3); }

.content {
  display: flex; }

.sidebar {
  flex: 0 0 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  height: 60rem;
  background: var(--grey-dark-1);
  color: var(--grey-light-1); }
  .sidebar__main {
    padding-top: 2rem; }
  .sidebar__footer {
    text-align: center;
    padding: 2rem; }

.main-content {
  flex: 1; }
