
:root {
  --primary: #eb2f64;
  --primary-light: #ff3366;
  --primary-dark: #ba265d;

  --grey-light-1: #faf9f9;
  --grey-light-2: #f4f2f2;
  --grey-light-3: #f0eeee;
  --grey-light-4: #ccc;
  --grey-light-5: rgb(228, 226, 226);


  --grey-dark-1: #333;
  --grey-dark-2: #777;
  --grey-dark-3: #999;

  --dark-shadow: 0 0.5rem 2rem var(--grey-dark-3);
  --light-shadow: 0 0.25rem 0.5rem var(--grey-light-4);

  --border-bottom: 1px solid var(--grey-light-3);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    width: 100%;
    background: radial-gradient(var(--primary-light) 0%, var(--primary) 70%, var(--primary-dark) 100%) no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'OpenSans', sans-serif;
}

a{
  text-decoration: none;
  text-transform: uppercase;
}

ul{
  list-style-type: none;
}


