.logo{
    height: 2.5rem;
    margin-left: 1rem;
}

.icon{
    height: 1.25rem;
    width: 1.25rem;

    &--img{
        height: 2.5rem;
        width: 2.5rem;
        border-radius: 50%; 
        margin-right: 0.5rem;   
    }

    &--img + span{
        font-size: 0.8rem;
    }
}

.search{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;

    &__input{
        color: var(--grey-dark-2);
        font-family: inherit;
        border-radius: 100px;
        height: 2.5rem;
        width: 90%;
        padding: 1rem;
        border: none;
        margin-right: -2.5rem;
        transition: all 0.5s;

        &::-webkit-input-placeholder{
            color: var(--grey-dark-2);
        }

        &:focus{
            outline: none;
            width: 100%;
        }
    }

    &__input:focus + &__icon__link > svg{
        fill: var(--grey-dark-1);
    }

    &__icon__link{
        background: transparent;
        border: none;
    }

    &__iconbox{
        fill: var(--grey-dark-2);
    }

}

.user-info{
    align-self: stretch;
    display: flex;

    &__box{
        display: flex;
        align-items: center;
        padding: 0 1rem;
        position: relative;
        
        &:hover{
            background: var(--grey-light-5);
            cursor: pointer;
        }

        &--flag{
            background-color: var(--primary);
            font-size: 0.75rem;
            color: var(--grey-light-1);
            padding: 0.2rem 0.4rem;
            border-radius: 50%;
            position: absolute;
            top: 0.7rem;
            right: 0.3rem;
        }
    }
}

