.container{
    background-color: var(--grey-light-2);
    width: 70%;
    min-height: 50rem;
    margin-top: 5rem;
    box-shadow: var(--dark-shadow);
}

.header{
    height: 4.5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content{

}

.sidebar{

}

.main-content{

}